.container {
	transition: transform 0.5s ease;
}

.screen_one {
	background: var(--white);
}

.banner_box{
	display: block;
	margin: 50px 0 20px 0;
}

.banner_text {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.5em;
	margin-bottom: 0;
	color: var(--black);
}

.screen_invest{
	width: 100%;
	position: relative;
}

.invest_video{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	background: var(--white);
}

.invest_container{
	margin: 50px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.invest_block{
	width: 400px;
	min-height: 50vh;
	background: var(--white);
	border-radius: 20px;
	box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.15);
}


.screen_three{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0 100px 0;
	background: var(--white);
}

.faq_block{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin:0 20px 0 40px;
}



/* SMALL SCREENS */

@media only screen and (max-width: 767.98px) {

	.banner_box{
		margin-top: 20px;
	}

	.banner_text {
		margin: 0 15%;
		text-align: center;
		font-size: 12px;
		letter-spacing: 0.25em;
	}

	.screen_three{
		margin: 40px 0;
	}

	.faq_block{
		width: 90%;
		margin: 0 8%;
	}

}

/* MEDIUM SCREENS */

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

	.banner_box{
		margin-top: 40px;
	}

	.banner_text {
		font-size: 12px;
		letter-spacing: 0.25em;
		margin-right: 10%;
	}

	.faq_block{
		width: 80%;
	}
}

/* LARGE SCREENS */

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {

	.banner_text {
		font-size: 14px;
		margin-right: 5%;
	}

	.screen_white {
		margin: 0;
	}
}
