.input_btn {
	display: flex;
	position: relative;
	align-items: center;
	background: transparent;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 500;
	padding: 0.75em 0.5em 0.75em 1em;
	background: var(--white-10);
	color: var(--black-9);
}


.btn_submit{
	background: var(--grey);
	color: #FFF !important;
	cursor: pointer;
}

.btn_submit.green{
	background: $green;
}

.yellow{
	background: $yellow;
}

.btn_submit:hover,
.btn_submit:focus,
{
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.input_icon {
	background: url("/icons/keyboard.svg");
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
	background-position: center;
	background-size: cover;
	opacity: 0.5;
}

.icon_add{
	filter: var(--f-white);
	background: url("/icons/add.svg");
	background-position: center;
	background-size: cover;
}

.input_text{
	width: 100%;
	color: inherit;
	background: transparent;
	border: none !important;
	outline: none !important;
	margin-bottom: 0;
}

.subtext{
	font-size: 10px;
	margin-bottom: 0;
	margin-top: 1.5em;
}

.idtext{
	font-size: 10px !important;
	margin-bottom: 0;
}

.mint_container{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.mint_screen{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: ceter;
	max-width: 40vw;
	margin: 10px 30px;
}

.mint_screen > div {
	margin: 10px 0;
}

.mint_two{
	width: 25vw;
}

.link{
	cursor: pointer;
	margin-left: 1em;
	text-decoration: underline solid $skyblue;
	color: $skyblue;
}

.active{
	
}

/* REMOVE THIS LATER */

.container {
	transition: transform 0.5s ease;
}

.container.wallet_open{
}

.screen_block {
	min-height: 100vh;
	width: 100%;
}

.screen_one {
	width: 100%;
	background: var(--white);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
}

.header > div{
	flex: 1;
}

.header > .banner_box{
	flex: 6;
}

.logo_box {
	padding: 10px 25px;
}

.logo_icon {
	display: block;
	background: url("/logo_sidebar.png");
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.banner_box{
	display: block;
	margin: 50px 0;
}

.banner_text {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.5em;
	margin-bottom: 0;
	color: var(--black);
}

.user_box{
	min-width: 75px;
	display: flex;
	justify-content: flex-end;
}

.login_btn{
	padding: 10px 25px;
	background: transparent;
	border-radius: 12px 0 0 12px;
	cursor: pointer;
}

.login_btn:hover,
.login_btn:focus{
	background: var(--white-9);
};

.login_icon{
	display: block;
	background: url("/icons/personal.svg");
	width: 2rem;
	height: 2rem;
	padding: 0.5em;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.logout_icon{
	display: block;
	background: url("/icons/wallet.svg");
	width: 2rem;
	height: 2rem;
	padding: 0.5em;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.screen_one_content{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
}

.stamp_display_vid{
	display: block;
	width: 400px;
	height: 400px;
}