.red .color_fill{
	color: $red;
}

.red.color_overlay:hover,
.red.color_overlay:focus{
	color: $red;
}

.red .color_link{
	color: $d-red;
}

.red .color_bg{
	background: $red !important;
}

.red .color_filter{
	filter: $f-red;
}

.orange .color_fill{
	color: $orange;
}

.orange.color_overlay:hover,
.orange.color_overlay:focus{
	color: $orange;
}

.orange .color_link{
	color: $d-orange;
}

.orange .color_bg{
	background: $orange !important;
}

.orange .color_filter{
	filter: $f-orange;
}

.yellow .color_fill{
	color: $yellow;
}

.yellow.color_overlay:hover,
.yellow.color_overlay:focus{
	color: $yellow;
}

.yellow .color_link{
	color: $d-yellow;
}

.yellow .color_bg{
	background: $yellow !important;
}

.yellow .color_filter{
	filter: $f-yellow;
}

.teal .color_fill{
	color: $teal;
}

.teal.color_overlay:hover,
.teal.color_overlay:focus{
	color: $teal;
}

.teal .color_link{
	color: $d-teal;
}

.teal .color_bg{
	background: $teal !important;
}

.teal .color_filter{
	filter: $f-teal;
}

.skyblue .color_fill{
	color: $skyblue;
}

.skyblue.color_overlay:hover,
.skyblue.color_overlay:focus{
	color: $skyblue;
}

.skyblue .color_link{
	color: $d-skyblue;
}

.skyblue .color_bg{
	background: $skyblue !important;
}

.skyblue .color_filter{
	filter: $f-skyblue;
}

.darkblue .color_fill{
	color: $darkblue;
}

.darkblue.color_overlay:hover,
.darkblue.color_overlay:focus{
	color: $darkblue;
}

.darkblue .color_link{
	color: $d-darkblue;
}

.darkblue .color_bg{
	background: $darkblue !important;
}

.darkblue .color_filter{
	filter: $f-darkblue;
}

.violet .color_fill{
	color: $violet;
}

.violet.color_overlay:hover,
.violet.color_overlay:focus{
	color: $violet;
}

.violet .color_link{
	color: $d-violet;
}

.violet .color_bg{
	background: $violet !important;
}

.violet .color_filter{
	filter: $f-violet;
}

.pink .color_fill{
	color: $pink;
}

.pink.color_overlay:hover,
.pink.color_overlay:focus{
	color: $pink;
}

.pink .color_link{
	color: $d-pink;
}

.pink .color_bg{
	background: $pink !important;
}

.pink .color_filter{
	filter: $f-pink;
}

.skin .color_fill{
	color: $skin;
}

.skin.color_overlay:hover,
.skin.color_overlay:focus{
	color: $skin;
}

.skin .color_link{
	color: $d-skin;
}

.skin .color_bg{
	background: $skin !important;
}

.skin .color_filter{
	filter: $f-skin;
}

.green .color_fill{
	color: $green;
}

.green.color_overlay:hover,
.green.color_overlay:focus{
	color: $green;
}

.green .color_link{
	color: $d-green;
}

.green .color_bg{
	background: $green !important;
}

.green .color_filter{
	filter: $f-green;
}

.grey.color_overlay:hover,
.grey.color_overlay:focus{
	color: var(--grey);
}

.grey .color_fill{
	color: var(--grey);
}

.grey .color_link{
	color: $d-grey;
}

.grey .color_bg{
	background: var(--grey) !important;
}

.grey .color_filter{
	filter: var(--f-grey);
}