@import "~/src/styles/variables.scss";

.cryptostamping-wrapper{
    background: transparent;
  	//background: var(--white);
    color: var(--black);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.cryptostamping-popup-content{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.cryptostamping-wrapper h1, 
.cryptostamping-wrapper h2, 
.cryptostamping-wrapper h3, 
.cryptostamping-wrapper h4, 
.cryptostamping-wrapper h5, 
.cryptostamping-wrapper h6,
.light-cryptostamping-popup-content h1,
.light-cryptostamping-popup-content h2, 
.light-cryptostamping-popup-content h3, 
.light-cryptostamping-popup-content h4, 
.light-cryptostamping-popup-content h5, 
.light-cryptostamping-popup-content h6,
.dark-cryptostamping-popup-content h1,
.dark-cryptostamping-popup-content h2, 
.dark-cryptostamping-popup-content h3, 
.dark-cryptostamping-popup-content h4, 
.dark-cryptostamping-popup-content h5, 
.dark-cryptostamping-popup-content h6,{
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.cryptostamping-wrapper p,
.cryptostamping-popup-content p,
.light-cryptostamping-popup-content p{
  margin-bottom: 1rem;
  margin-top: 0;
}

.cryptostamping-wrapper[data-theme="dark"] .shadowed,
.dark-cryptostamping-popup-content .shadowed,
.dark-cryptostamping-popup-overlay .shadowed{
  border: 1px solid var(--white-7);
}

.dark-cryptostamping-popup-content,
.dark-cryptostamping-popup-overlay,
.light-cryptostamping-popup-content,
.light-cryptostamping-popup-overlay{
  color: var(--black);
  z-index: 21474836 !important;
}

.page_container{
	display: block;
	position: relative;
	z-index: 0;
	background: var(--white);
}

.page_container.hide_page{
	display: none;
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	background-position: center !important;
	background-size: cover !important;
}

.not_link{
	outline: none !important;
	text-decoration: none !important;
}

/* OTHER */


.hide_scroll {
  //-ms-overflow-style: none;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

.hide_scroll::-webkit-scrollbar-track {
  display: none;
}

.hide_scroll::-webkit-scrollbar-thumb {
  display: none;
}

.hide_scroll::-webkit-scrollbar-thumb:hover {
  display: none;
}


/* horiz_scroll */


/* width */
.horiz_scroll::-webkit-scrollbar {
  height: 2px;
}

/* Track */
.horiz_scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.horiz_scroll::-webkit-scrollbar-thumb {
  background: var(--white-7);
}

/* Handle on hover */
.horiz_scroll::-webkit-scrollbar-thumb:hover {
  background: var(--black-7);
}

/* vert_scroll */


/* width */
.vert_scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.vert_scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.vert_scroll::-webkit-scrollbar-thumb {
  background: var(--white-7);
}

/* Handle on hover */
.vert_scroll::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

.hidden {
  overflow: hidden;
}

.overlay {
  overflow: overlay;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


